<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699351619226-t19cul2idoah55immrjeqr42m3eia8il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699351619226-t19cul2idoah55immrjeqr42m3eia8il</string>
	<key>API_KEY</key>
	<string>AIzaSyB0n9aqmgK4CbMg6pjXaSsCRtE-lybmlrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>699351619226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cuongfinal.hp.orderlist</string>
	<key>PROJECT_ID</key>
	<string>orderlist-6b688</string>
	<key>STORAGE_BUCKET</key>
	<string>orderlist-6b688.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699351619226:ios:da2d189bd6bb0d8bce7123</string>
	<key>DATABASE_URL</key>
	<string>https://orderlist-6b688.firebaseio.com</string>
</dict>
</plist>